# Core Django Framework
Django

# Database
mysqlclient

# AI & Machine Learning
google-generativeai
python-dotenv

# Forms & Widgets
django-widget-tweaks

# Image Processing & File Handling
Pillow
apenpyxl
mathplotlib
pandas
numpy



